<div class="profile-card">
  <div class="avatar-name">
    <img src="assets/avatar/avatar.jpg" alt="avatar" class="profile-card__avatar">
    <div class="profile-card__name">
      <strong class="h6">Jon Jones</strong>
      <span class="subtitle">Bones</span>
    </div>
  </div>

  <div class="profile-card__description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut beatae commodi, cumque dicta doloremque
    est eum illum porro quidem quisquam recusandae totam vel! Commodi, dolores, officia. Beatae, incidunt, ut?
  </div>
  <div class="profile-card__tags">
  <div class="skill-tag">Angular</div>
  <div class="skill-tag">React</div>
  <div class="skill-tag">JavaScript</div>
  </div>

  <div class="profile-card__action-btns">
    <button class="btn">Follow</button>
  </div>

</div>
